@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

body,
input {
  font-family: 'Be Vietnam Pro', sans-serif;
  margin: 2%;
}


header,
div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

input[type=button] {

  float: right;
  text-align: center;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 20px;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 0.4s;
}

input[type=button]:hover {
  border: 2px solid black;
}

.header-btns {
  width: 15%;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;

}

li a,
.dropbtn {
  display: inline-block;
  align-self: center;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(241, 240, 240);
  min-width: 100px;
  margin-left: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(194, 194, 194);
}

.dropdown:hover .dropdown-content {
  display: block;
}

span {
  align-self: center;
  background-image: url('../images/icon-arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 15px;
  width: 15px;
  text-align: center;

}

main {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

#sectxt>input[type=button] {

  float: left;
  text-align: center;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  border: 2px solid transparent;
  background-color: black;
  cursor: pointer;
  transition-duration: 0.4s;
}

#sectxt>input[type=button]:hover {
  background-color: rgb(96, 96, 96);
  border: 2px solid rgb(96, 96, 96);
}

#logos {
  width: 80%;
  margin-top: 15%;
  align-items: center;
  justify-content: space-around;
}



.secimg {
  width: 50%;
}

#secimg>img {
  width: 100%;
  height: 450px;
}

#sectxt {
  width: 50%;
}